<div class="container">
  
  <div class="modal">
    <div class="header">
      
      <img src="./logo.png" alt="Logo" class="logo" />
      
      <div class="titles">
        <h1>Informatyka AMW</h1>
        <h2>Roadmapa Studiów</h2>
      </div>
    </div>

    
    <div class="semester-selection">
      <div 
        *ngFor="let semester of semesters; let i = index" 
        class="semester-label" 
        [class.selected]="selectedSemester === i" 
        (click)="onSemesterClick(i)"
        (mouseenter)="onMouseEnter(i)" 
        (mouseleave)="onMouseLeave()"
      >
        <span class="semester-title">Semestr {{ i + 1 }}</span>
      </div>
    </div>
  </div>


<div class="semester-selected" *ngIf="selectedSemester !== null">
  Semestr {{ selectedSemester + 1 }}
</div>


<app-timeline 
*ngIf="selectedSemester !== null && getModulesForSemester(selectedSemester).length > 0"
[modules]="getModulesForSemester(selectedSemester)"
(selectSubject)="onSubjectSelected($event)"
>
</app-timeline>



  <app-subject-details *ngIf="selectedSubject" [subject]="selectedSubject"></app-subject-details>
</div>
