
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;  
  pointer-events: none;
}


.backdrop.show {
  opacity: 1;
  pointer-events: all;
}


.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66vh;
  background: #fff;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  overflow-y: auto;


  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;  
}


.sidebar.open {
  transform: translateY(0);
  opacity: 1;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;  
}

.close-btn:hover {
  transform: scale(1.1); 
}


@media (min-width: 769px) {
  .sidebar {
    bottom: auto;
    top: 0;
    right: 0;
    left: auto;
    width: 350px;
    height: 100%;
    border-radius: 0;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

    
    transform: translateX(100%);
  }


  .sidebar.open {
    transform: translateX(0);
  }
}


body.modal-open {
  overflow: hidden;
}
