<div class="backdrop" [ngClass]="{ 'show': subject }" (click)="closeSidebar()"></div>

<div class="sidebar" [ngClass]="{ 'open': subject }">
  <button class="close-btn" (click)="closeSidebar()">&#x2715;</button>

  <div *ngIf="subject" class="subject-details">
    <h2 class="subject-title">{{ subject.name }}</h2>

    <div class="section description">
      <p>{{ subject.description || '' }}</p>
    </div>

    <div class="section lecturer">
      <p><strong>Prowadzący:</strong> {{ subject.lecturer || 'Brak informacji' }}</p>
    </div>

    <div class="section ects">
      <p><strong>ECTS:</strong> {{ subject.ects || '0' }}</p>
    </div>

    <div class="section exam-type">
      <p><strong>Typ zaliczenia:</strong> {{ subject.exam_type || 'Brak informacji' }}</p>
    </div>

    <div class="section contact-hours">
      <div class="contact-hour-card">
        <i class="fas fa-chalkboard-teacher"></i>
        <span class="contact-hour-label">Wykład:</span>
        <span class="contact-hour-value">{{ subject.contact_hours?.lecture || 0 }} h</span>
      </div>
      <div class="contact-hour-card">
        <i class="fas fa-users"></i>
        <span class="contact-hour-label">Ćwiczenia:</span>
        <span class="contact-hour-value">{{ subject.contact_hours?.exercises || 0 }} h</span>
      </div>
      <div class="contact-hour-card">
        <i class="fas fa-flask"></i>
        <span class="contact-hour-label">Laboratoria:</span>
        <span class="contact-hour-value">{{ subject.contact_hours?.labs || 0 }} h</span>
      </div>
      <div class="contact-hour-card">
        <i class="fas fa-chalkboard"></i>
        <span class="contact-hour-label">Semiaria:</span>
        <span class="contact-hour-value">{{ subject.contact_hours?.seminars || 0 }} h</span>
      </div>
      <p class="suma_godzin">Suma godzin kontaktowych: {{ getTotalContactHours() }} h</p>
    </div>

    <div class="section non-contact-hours">
      <div class="non-contact-hour-card">
        <i class="fas fa-calendar-check"></i>
        <span class="non-contact-hour-label">Godziny niekontaktowe:</span>
        <span class="non-contact-hour-value">{{ subject.non_contact_hours || 0 }} h</span>
      </div>
    </div>

    <div *ngIf="subject.files?.length" class="section files">
      <h3>Pliki do pobrania</h3>
      <ul>
        <li *ngFor="let file of subject.files">
          <a [href]="file.url" target="_blank"><i class="fas fa-file-alt"></i> {{ file.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
