
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;  
  pointer-events: none;
}


.backdrop.show {
  opacity: 1;
  pointer-events: all;
}


.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66vh;
  background: #fff;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  overflow-y: auto;


  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;  
}


.sidebar.open {
  transform: translateY(0);
  opacity: 1;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;  
}

.close-btn:hover {
  transform: scale(1.1); 
}

.subject-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #4682b4;
  padding-bottom: 5px;
}

.section {
  margin-bottom: 20px;
}

.section h3, .section p {
  font-size: 16px;
  color: #333;
}

.suma_godzin {
  font-size: 14px !important; 
  color: #777 !important; 
  margin-top: 15px !important;
  font-weight: normal !important;
}



.contact-hours ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-hours li {
  font-size: 14px;
  margin-left: 20px;
}

.files ul {
  list-style-type: none;
  padding-left: 0;
}

.files li {
  margin: 5px 0;
}

.files a {
  text-decoration: none;
  color: #4682b4;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.files i {
  margin-right: 10px;
}

.files a:hover {
  color: #006994;
}


@media (min-width: 769px) {
  .sidebar {
    bottom: auto;
    top: 0;
    right: 0;
    left: auto;
    width: 350px;
    height: 100%;
    border-radius: 0;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

    
    transform: translateX(100%);
  }


  .sidebar.open {
    transform: translateX(0);
  }
}


.contact-hour-card, .non-contact-hour-card {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  align-items: center;
}

.contact-hour-label, .non-contact-hour-label {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.contact-hour-value, .non-contact-hour-value {
  color: #4682b4;
}


/* Ikony w kartach */
.contact-hour-card i, .non-contact-hour-card i {
  margin-right: 10px;
  font-size: 18px;
  color: #4682b4;
}

